@import "kouto-swiss"
@import "helpers"
@import "swiper"

// ******************************************************

// FONTS

@import "fonts"

// ******************************************************

// ICONS FONTS

// ** https://genericons.com WP icon font set
// @import "fonts/icons/genericons"

// ** minimal version of Google Materialize UI icons. check the styl for usage
@import "fonts/icons/materialize-min"

// ** full set of Google Materialize. https://design.google.com/icons/
// @import "fonts/icons/materialize"

// ******************************************************

meyer-reset()
box-sizing-reset()
normalize()

// ******************************************************

// VARIABLES

$golden-ratio = 1.61803398875

$font-size-basic = 16px
$font-size-larger = 1.3rem

$font-leading-basic = 1.45
$font-leading-tighter = 1.25
$font-leading-larger = 1.55

$font-tracking-basic = 0.001em
$font-tracking-wider = 0.05em

$font-sans = 'Calibre', Helvetica, Arial, sans-serif
$font-serif = 'Tiempos', Times, Baskerville, Georgia, serif

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)

$border = 3px solid $color-black

$basic-animation-speed = 600
$fast-animation-speed = $basic-animation-speed / 2

// ******************************************************

.only-desktop
  display: none !important

.only-mobile
  display: initial !important

// GRID

$cols = 12
$gutter = 24px

.container
  margin: 0 auto
  width: 96%

.row
  box-sizing: border-box
  display: flex
  flex: 0 1 auto
  flex-direction: row
  flex-wrap: wrap
  &.reverse
    flex-direction: row-reverse

// FLEX POSITIONING

.justify-start
  justify-content: flex-start

.justify-center
  justify-content: center

.justify-end
  justify-content: flex-end

.align-start
  align-items: flex-start

.align-center
  align-items: center

.align-end
  align-items: flex-end

.align-content-start
  align-content: flex-start

.align-content-center
  align-content: center

.align-content-end
  align-content: flex-end

// COLUMN SIZES & OFFSETS

.col
  flex: 1 1 auto
  box-sizing: border-box
  max-width: 100%
  padding: 0 ($gutter / 2)

.col-no-gutter
  padding-left: 0
  padding-right: 0

// ******************************************************

// TYPOGRAPHY

html
  font-family: $font-sans
  font-size: $font-size-basic
  letter-spacing: $font-tracking-basic

body
  line-height: $font-leading-basic

  // HTML ELEMENT STYLING

h1, h2, h3, h4
  line-height: $font-leading-tighter
  
.font-size-basic
  font-size: $font-size-basic
  
h1, .font-size-h1 
  font-family: $font-sans
  font-weight: 600
  letter-spacing: 1px

h2, .font-size-h2
  font-family: $font-sans
  font-weight: 500

h3, .font-size-h3
  font-family: $font-sans

h4, .font-size-h4
  line-height: 1.1

p
  margin-bottom: 1rem
  line-height: $font-leading-basic

  // FONT RULES

em, .font-italic
  font-style: italic
  
strong
  font-style: bold

.font-bold
  font-weight: 500
  
.font-bolder
  font-weight: 600
  letter-spacing: 1px

.font-small-caps
  font-size: 0.85em
  text-transform: uppercase

.font-larger
  font-size: $font-size-larger

.font-capitalize
  text-transform: capitalize

.font-uppercase
  text-transform: uppercase

.font-sans
  font-family: $font-sans

.font-serif
  font-family: $font-serif

  // TEXT RULES
    
.line-tighter
  line-height: $font-leading-tighter

.text-overflow-ellipsis
  overflow: ellipsis

.text-align-left
  text-align: left

.text-align-right
  text-align: right

.text-align-center
  text-align: center

  // LINKS

a,
a:active,
a:visited
  color: inherit
  text-decoration: none

p  
  a,
  a:active,
  a:visited
    text-decoration: underline

// ******************************************************

// BASIC

html
  background-color: $color-white
  color: $color-black

img
  max-width: 100%
  height: auto

// ******************************************************

// HEADER

#header
  background-color: $color-white
  position: fixed
  top: 0
  width: 100%
  z-index: 1000
  h1
    margin: 0

#header-menu
  li
    &:after
      content: ', '
    &:last-of-type:after
      content: ''
    a:hover 
      font-style: italic
      
.menu-toggle
  svg
    height: 20px
    
.menu-close
  display: none
.menu-open
  display: initial
    
body.menu-active
  .menu-close
    display: initial
  .menu-open
    display: none

// ******************************************************

// FOOTER

#footer
  position: fixed
  bottom: 0
  width: 100%
  z-index: 1000
  line-height: 1
  h1
    margin: 0
    
body.single-programacion 
  .footer-lang-switch
    display: none !important

// ******************************************************

.home #main-container .padding-bottom-mid
  padding-bottom: 0

// HOME
.home-item
  width: 50%
  .attachment-home-thumb
    display: block
  &.home-item-hover
    .attachment-home-thumb
      opacity: 1
    .home-item-image-caption
      opacity: 1
    .home-item-image-holder
      border: 3px solid transparent
  &.home-item-hidden
    .attachment-home-thumb
      opacity: 0
    .home-item-image-holder
      border: $border

.home-item-image-holder
  margin: 0 auto
  border: 3px solid transparent
  display: inline-block
  vertical-align: bottom
  img 
    max-height: 400px
    width: auto

.home-item-image-caption
  opacity: 0
  transition: opacity $fast-animation-speed
  
.home-plus
  pointer-events: none
  a 
    pointer-events: auto
    svg
      height: 50px
  &.only-desktop
    position: fixed
    text-align: right
    bottom: 150px
    right: 0
    width: 100%

// ******************************************************

// INDEX

.more-link
  font-family: $font-sans
  
// ******************************************************

// PROGRAMACION

#programacion-slider
  position: relative
  
.full-slide.container
  background-size: 0
  
.swiper-wrapper
  align-items: center

.swiper-slide
  cursor: pointer
  img 
    max-height: 100%
    width: auto
    display: block
    margin: 0 auto
    
.programacion-item
  height: 100%
  display: flex
  flex-direction: column 
  justify-content: center
  
.archive-programacion-post-title
  font-weight: normal
  
// ******************************************************

// NOSOTROS

.file-icon
  font-size: $font-size-larger
  background: url('../img/dist/file-icon.svg') center no-repeat
  width: 90px
  height: 120px
  text-align: center
  line-height: 135px
  
// ******************************************************

// CITAS

.citas-arrow
  position: absolute
  height: 20px
  margin-top: -2px 
  margin-left: 5px

// ******************************************************
  
for offset in 0..($cols - 1)
  .offset-s-{offset}
    margin-left: ( 100% / $cols ) * offset

for col in 1..$cols
  .col-s-{col}
    flex-basis: ( 100% / $cols ) * col
    max-width: ( 100% / $cols ) * col

@import "responsive/mobile"

@media screen and (min-width: 760px)

  .container
    width: 760px

  $gutter = 28px

  // COLUMN SIZES & OFFSETS

  .col
    padding: 0 ($gutter / 2)

  for offset in 0..($cols - 1)
    .offset-m-{offset}
      margin-left: ( 100% / $cols ) * offset

  for col in 1..$cols
    .col-m-{col}
      flex-basis: ( 100% / $cols ) * col
      max-width: ( 100% / $cols ) * col

  @import "responsive/tablet"

@media screen and (min-width: 1000px)

  .only-desktop
    display: initial !important

  .only-mobile
    display: none !important

  .container
    width: 980px
    
  $gutter = 32px

  // COLUMN SIZES & OFFSETS

  .col
    padding: 0 ($gutter / 2)

  for offset in 0..($cols - 1)
    .offset-l-{offset}
      margin-left: ( 100% / $cols ) * offset

  for col in 1..$cols
    .col-l-{col}
      flex-basis: ( 100% / $cols ) * col
      max-width: ( 100% / $cols ) * col
      
  @import "responsive/desktop"

@media screen and (min-width: 1260px)

  .container
    width: 1240px

@media screen and (min-width: 1346px)

  .container
    width: 1330px

@media screen and (min-width: 1660px)

  .container
    width: 1640px
    
  $gutter = 32px

  // COLUMN SIZES & OFFSETS

  .col
    padding: 0 ($gutter / 2)

  for offset in 0..($cols - 1)
    .offset-xl-{offset}
      margin-left: ( 100% / $cols ) * offset

  for col in 1..$cols
    .col-xl-{col}
      flex-basis: ( 100% / $cols ) * col
      max-width: ( 100% / $cols ) * col

@media screen and (min-width: 1900px)

  .container
    width: 1880px

  $gutter = 54px

  // COLUMN GUTTER

  .col
    padding: 0 ($gutter / 2)

  @import "responsive/large"
