$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-micro = ($gutter / (2 * $golden-ratio))
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 3.5)
$margin-large = ($gutter * 5)

// ******************************************************

// MARGINS AND PADDING

  // MARGIN TOP

.margin-top-micro
  margin-top: $margin-micro

.margin-top-tiny
  margin-top: $margin-tiny

.margin-top-small
  margin-top: $margin-small

.margin-top-basic
  margin-top: $margin-basic

.margin-top-mid
  margin-top: $margin-mid

.margin-top-large
  margin-top: $margin-large

  // MARGIN BOTTOM

.margin-bottom-micro
  margin-bottom: $margin-micro

.margin-bottom-tiny
  margin-bottom: $margin-tiny

.margin-bottom-small
  margin-bottom: $margin-small

.margin-bottom-basic
  margin-bottom: $margin-basic

.margin-bottom-mid
  margin-bottom: $margin-mid

.margin-bottom-large
  margin-bottom: $margin-large

  // PADDING TOP

.padding-top-micro
  padding-top: $margin-micro

.padding-top-tiny
  padding-top: $margin-tiny

.padding-top-small
  padding-top: $margin-small

.padding-top-basic
  padding-top: $margin-basic

.padding-top-mid
  padding-top: $margin-mid

.padding-top-large
  padding-top: $margin-large

  // PADDING BOTTOM

.padding-bottom-micro
  padding-bottom: $margin-micro

.padding-bottom-tiny
  padding-bottom: $margin-tiny

.padding-bottom-small
  padding-bottom: $margin-small

.padding-bottom-basic
  padding-bottom: $margin-basic

.padding-bottom-mid
  padding-bottom: $margin-mid

.padding-bottom-large
  padding-bottom: $margin-large
  
// ******************************************************

// HEADER

#header 
  background-color: initial
  h1
    font-size: $font-size-h3 

#header-menu
  padding-top: $margin-tiny
  padding-bottom: $margin-micro
  font-size: $font-size-h4
  li 
    line-height: $font-leading-basic

// ******************************************************

// FOOTER

#footer
  padding: $margin-micro 0 
  font-size: $font-size-h4
  h1
    font-size: $font-size-h3
    
body.single-programacion 
  #footer
    padding: 0

// ******************************************************

// BASIC

#main-content
  padding-top: 58px + $margin-tiny

// ******************************************************

// HEADER
#header
  h1.site-title
    margin-right: $margin-small

#header-menu
  padding-top: 0
  padding-bottom: 0
  font-size: $font-size-h3
  display: inline-block
  li
    display: inline-block
    line-height: $font-leading-tighter
    &:after
      content: none
    &:before
      content: ', '
    &:first-of-type:before
      content: ''
      
// ******************************************************

// PROGRAMACION

.archive-programacion-post-title
  font-size: 60px

  // SLIDER
#programacion-slider
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 0
  .swiper-container
    height: 100%
    top: 0   
  .swiper-slide
    .container
      height: 100%
      position: relative
      
.slide-image-holder 
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: center
    
.full-slide.container
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-size: cover
  background-position: center
  .slide-image-holder 
    opacity: 0
    
.slider-cursor-pagination
  display: initial
  position: absolute
  height: 100%
  width: 100%
  top: 0
  left: 0
  z-index: 100
  .cursor-pagination-button
    position: absolute
    width: 50%
    height: 100%
    top: 0
    cursor: pointer
    &.swiper-prev
      left: 0
      cursor: url('../img/dist/ui-cursor-left.png'), w-resize
    &.swiper-next
      right: 0
      cursor: url('../img/dist/ui-cursor-right.png'), e-resize
      
  // DRAWER
  
#programacion-drawer
  background-color: transparent
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 76px
  z-index: 0
  overflow: hidden
  transition: all 200ms linear

.programacion-header
  background-color: transparent
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: auto
  z-index: 400
  
.programacion-drawer-toggle
  cursor: pointer
  display: inline-block
  &:after
    content: '+'
  
body.drawer-open
  #programacion-drawer
    background-color: $color-white
    height: 550px
  .programacion-drawer-toggle
    display: inline-block
    &:after
      content: '\2013'
      
.programacion-content-holder
  position: absolute
  height: 474px
  width: 100%
  top: 76px
  overflow-y: scroll
  z-index: 300
  
.programaction-content
  column-count: 2
  column-gap: $margin-small
  
// HOME

.home-item
  padding-right: $margin-small
